---
layout: "base.njk"
---

<div class="article-img-container">
  <img class="article-img" src="{{ image }}" alt="{{ imageAlt }}}" />
</div>
<article class="main-article">
  <h1 class="article-title">{{ title }}</h1>
  <figure class="article-figure">
    <figcaption>
      {{ imageAlt }}
    </figcaption>
  </figure>
  <p class="article-p">
    {{ content | safe }}
  </p>
</article>

{# the button right bottom #}
<button class="animation2" onclick="location.href='#contact';" aria-label="Contact"></button>
