<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Houlou is a rising statup that helps young entrpreneurs and company to rise above and beyond"
    />
<meta property="og:title" content="Houloul - Your Buisness Solutions" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" />
<meta property="og:image:url" content="/assets/favicon.png" />
<meta property="og:description" content="Houlou is a rising statup that helps young entrpreneurs and company to rise above and beyond" />
    <link rel="icon" href="/assets/imgs/favicon.png" />

    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ title }}</title>
    <script src="/js/script.js" defer></script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}

    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
  </body>
</html>
