 <header class="main-header">
      <div class="logo" onclick="location.href='/';"><img src="/assets/imgs/houloul.svg" alt="" /></div>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li class="main-nav-link"><a href="/">Acceuil</a></li>
          <li class="main-nav-link"><a href="/#services">Services</a></li>
          <li class="main-nav-link"><a href="/blogs/">Solutions</a></li>
          <li class="main-nav-link"><a href="/company/">Société</a></li>
          <li><button class="main-nav-button"> <a href="/#contact" style="color: #225aa3" >Work with us</a> </button></li>
        </ul>
      </nav>
      <button class="mobile-nav-button">
        <ion-icon class="mobile-menu" name="menu-outline"></ion-icon>
        <ion-icon class="mobile-menu" name="close-outline"></ion-icon>
      </button>
    </header>