@use "../base" as *;
@use "../components/nav" as *;
@use "../components/buttons" as *;

$date-color: #8f8f99;

.article-img {
  object-fit: cover;

  max-height: 80rem;
  width: 100vw;
}

.main-article {
  * {
    color: #333;
  }
  h1 {
    color: rgb(19, 19, 71);
  }
  transform: translateY(max(-5%, -5rem));
  background-color: white;
  width: min(80%, 1450px);
  margin: 0 auto;

  padding: 2em;
  .article-p {
    font-size: 0.65em;
  }
}

.main-company {
  width: min(80%, 1450px);
  margin: 0 auto;
  padding: 2em 0;
  h4 {
    margin-top: 1.4em;
  }
  h4:nth-of-type(1) {
    margin-top: 0rem;
  }
  .article-p {
    font-size: 0.65em;
  }
}
@media (min-width: 50em) {
  .main-article {
    transform: translateY(min(-25%, -30rem));
  }
  .main-company {
    padding-right: 3.6em;

    .main-article {
      text-align: justify;
    }
  }
}
