---
title: Houloul - Your Buisness Solutions
layout: 'base.njk'
---

    <section class="hero-bg" >
    <div class="hero">
      <div class="hero-content">
        <h1 class="primary-heading">
          Using Experience & Technology to Build
          <span>The Future</span>
        </h1>
        <p class="hero-p">
          Lorem ipsum dolor sit amet, con trist aliquet do sectetur adipiscing
          elit. Duis nunc hendrerit quisque aliquet dol con trist aliquet con
          trist aliquetor trist aliquet dolor trist.
        </p>
        <div class="hero-buttons">
          <button class="cta hero-primary-cta " ><a href="#contact" >Contactez-nous</a> </button>
          <button class="animation" onclick="location.href='#contact';"></button>
          <button class="cta hero-secondary-cta"><a href="#values"style="color: #225aa3">Decouvrez plus</a> </button>
        </div>
      </div>
      <div class="hero-img">
        <svg
          width="808"
          height="1080"
          viewBox="0 0 808 1080"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.07"
            d="M824.984 559.742C858.673 530.768 879.404 476.848 879.404 404.089C879.404 254.672 792.073 82.9079 684.528 21.842C576.854 -39.3539 491.077 32.3661 492.114 182.952C492.632 254.542 513.105 331.329 546.146 398.112C571.671 449.563 588.386 506.991 593.958 560.392C596.16 583.259 609.765 606.906 625.444 616.001L745.686 685.512C761.494 694.737 774.969 686.421 777.431 666.283C782.873 619.379 799.329 581.96 824.984 559.742Z"
            fill="url(#paint0_linear_7:6)"
          />
          <path
            opacity="0.07"
            d="M775.099 806.604V774.642C775.099 757.492 765.251 738.133 752.942 730.727L617.928 652.51C605.618 645.364 595.771 653.42 595.771 670.57V702.532C595.771 728.258 609.246 756.842 626.868 770.874L744.26 838.826C761.623 845.453 775.099 832.07 775.099 806.604Z"
            fill="url(#paint1_linear_7:6)"
          />
          <path
            opacity="0.4"
            d="M760.068 611.453C793.757 582.479 814.489 528.559 814.489 455.8C814.489 306.383 727.157 134.619 619.613 73.5531C511.809 12.3573 426.162 84.0772 427.199 234.663C427.717 306.253 448.189 383.041 481.23 449.823C506.756 501.275 523.47 558.703 529.042 612.103C531.245 634.97 544.85 658.617 560.528 667.712L680.771 737.223C696.578 746.448 710.054 738.133 712.516 717.994C718.087 671.09 734.543 633.541 760.068 611.453Z"
            fill="url(#paint2_linear_7:6)"
          />
          <path
            opacity="0.4"
            d="M710.313 858.316V826.353C710.313 809.203 700.465 789.844 688.156 782.438L553.142 704.221C540.833 697.075 530.985 705.131 530.985 722.281V754.244C530.985 779.969 544.461 808.553 562.082 822.586L679.474 890.538C696.837 897.164 710.313 883.781 710.313 858.316Z"
            fill="url(#paint3_linear_7:6)"
          />
          <path
            opacity="0.3"
            d="M426.68 869.489L41.0745 646.274L41.2041 847.791L392.733 1051.26L426.81 1101.8L426.68 869.489Z"
            fill="url(#paint4_linear_7:6)"
          />
          <path
            d="M0 724.88V670.181L145.639 754.373V809.073L0 724.88Z"
            fill="#F2994A"
          />
          <path
            opacity="0.15"
            d="M327.558 861.174L243.077 812.321V829.991L327.558 878.844V861.174Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M327.558 896.644L164.686 802.447V820.117L327.558 914.314V896.644Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M327.558 931.984L130.22 817.778V835.448L327.558 949.654V931.984Z"
            fill="white"
          />
          <path
            d="M348.419 891.707C348.419 908.338 358.266 927.437 370.316 934.453C382.366 941.469 392.214 933.674 392.214 917.043C392.214 900.412 382.366 881.313 370.316 874.297C358.136 867.281 348.419 875.076 348.419 891.707Z"
            fill="#F2994A"
          />
          <path
            opacity="0.3"
            d="M456.741 748.267L842.217 971.482L842.347 1173L490.818 969.533L456.87 980.707L456.741 748.267Z"
            fill="url(#paint5_linear_7:6)"
          />
          <path
            d="M730.137 1006.95V952.253L875.647 1036.45V1091.15L730.137 1006.95Z"
            fill="#F2C94C"
          />
          <path
            opacity="0.15"
            d="M555.863 854.807L640.344 903.66V921.33L555.863 872.478V854.807Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M555.863 890.148L708.369 978.369V996.039L555.863 907.948V890.148Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M555.863 925.618L753.201 1039.82V1057.49L555.863 943.288V925.618Z"
            fill="white"
          />
          <path
            d="M535.002 861.174C535.002 877.805 525.155 885.6 513.105 878.584C501.054 871.568 491.207 852.469 491.207 835.838C491.207 819.207 501.054 811.412 513.105 818.428C525.284 825.444 535.002 844.543 535.002 861.174Z"
            fill="#F2C94C"
          />
          <path
            opacity="0.15"
            d="M886.919 731.376L896.637 752.944L814.747 772.044L899.876 890.927L890.158 901.192L785.594 755.023L886.919 731.376Z"
            fill="white"
          />
          <path
            d="M820.578 773.993C820.578 790.753 810.731 798.679 798.681 791.793C786.631 784.777 776.783 765.547 776.783 748.657C776.783 731.896 786.631 723.97 798.681 730.857C810.731 737.873 820.578 757.232 820.578 773.993Z"
            fill="#F2C94C"
          />
          <path
            opacity="0.3"
            d="M209.647 328.991L426.809 454.631V858.055L209.647 732.416V328.991Z"
            fill="url(#paint6_linear_7:6)"
          />
          <path
            opacity="0.15"
            d="M231.026 568.447L405.43 669.401V687.071L231.026 586.117V568.447Z"
            fill="white"
          />
          <path
            opacity="0.15"
            d="M243.207 610.024L393.121 696.816V714.486L243.207 627.694V610.024Z"
            fill="white"
          />
          <path
            d="M306.567 682.134L155.486 594.693V639.777L306.567 727.219V682.134Z"
            fill="#F2C94C"
          />
          <path
            d="M342.977 487.632C342.977 507.121 331.704 516.346 317.84 508.291C303.975 500.105 292.703 477.758 292.703 458.139C292.703 438.65 303.975 429.425 317.84 437.48C331.704 445.666 342.977 468.143 342.977 487.632Z"
            fill="#F2C94C"
          />
          <path
            d="M317.71 524.012C295.294 510.889 276.766 523.232 273.526 551.427C273.008 556.364 276.636 562.86 281.171 565.459L354.25 608.335C358.785 610.934 362.413 608.855 361.894 603.268C358.785 571.046 340.126 537.135 317.71 524.012Z"
            fill="#F2C94C"
          />
          <path
            opacity="0.2"
            d="M528.653 1148.83C450.262 1047.75 507.015 1011.11 528.653 1070.36C550.292 1036.32 607.044 1138.44 528.653 1148.83Z"
            fill="url(#paint7_linear_7:6)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_7:6"
              x1="837.768"
              y1="190.121"
              x2="440.235"
              y2="551.085"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_7:6"
              x1="1042.98"
              y1="416.059"
              x2="645.448"
              y2="777.024"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_7:6"
              x1="772.958"
              y1="241.806"
              x2="375.424"
              y2="602.77"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_7:6"
              x1="978.17"
              y1="467.743"
              x2="580.638"
              y2="828.707"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint4_linear_7:6"
              x1="342.599"
              y1="788.774"
              x2="143.098"
              y2="944.551"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint5_linear_7:6"
              x1="622.319"
              y1="754.831"
              x2="672.435"
              y2="1160.21"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint6_linear_7:6"
              x1="450.029"
              y1="364.547"
              x2="256.475"
              y2="698.962"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient
              id="paint7_linear_7:6"
              x1="545.203"
              y1="1074.26"
              x2="487.067"
              y2="1124.34"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white" />
              <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      </div>
    </section>
    
      <section class="img-container" id="values">
        <div class="values-section">
          <div class="h2">
            <h2>
              <strong>Houloul</strong><br />
              <span>Createur des <span>S</span>olution</span>
            </h2>
          </div>

          <div class="who-are-we">
            <div class="left">
              <ul class="">
                <li class="adn active"><a href="/company/">Historique</a></li>
                <li class="adn "><a href="/company/">ADN</a></li>
                <li class="adn "><a href="/company/">Intevention</a></li>
                <li class="adn "><a href="/company/">Ambition</a></li>
              </ul>
            </div>
            <div class="right">
              <p id="adn-p">
                Chez Houloul, chaque membre de notre équipe a développé un degré de créativité, d’innovation et de leadership hors pair tout au long de son expérience et ce, depuis son plus jeune âge. 
                Ces compétences sont renforcées par des études supérieures approfondies et diverses dans des universités renommées à l’échelle internationale et des expériences professionnelles multi-sectorielles à l’échelle mondiale.
              </p>

              <button class="explore-btn">
                <a href="/company/">Explore</a
                ><ion-icon
                  class="explore-arrow"
                  name="chevron-forward-outline"
                ></ion-icon>
              </button>
            </div>
          </div>

          <div class="values grid">
            <div class="values-container">
              <ion-icon
                class="value-icon"
                name="finger-print-outline"
              ></ion-icon>
              <h3>Creativite</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                ipsum dolor sit.
              </p>
            </div>

            <div class="values-container">
              <ion-icon
                class="value-icon"
                name="finger-print-outline"
              ></ion-icon>
              <h3>Creativite</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                ipsum dolor sit.
              </p>
            </div>

            <div class="values-container">
              <ion-icon
                class="value-icon"
                name="finger-print-outline"
              ></ion-icon>
              <h3>Creativite</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="services" id="services">
        <h2><span>Notres</span> Services</h2>
        <div class="service-cards">
          <div class="service-card">
            <div class="service-image">
              <img src="./assets/imgs/service1.jpg" alt="" />
            </div>
            <div class="service-text">
              <h3>Management as service</h3>
              <p>
                Vous avez besoin d’un manager de transition en temps flexible ? Vous voulez recruter un manager compétant mais vous n’avez pas les moyens ? La charge du travail ne nécessite pas un manager en plein temps ? Vous cherchez un leader polyvalent pour vous accompagner?
              </p>
            </div>
          </div>

          <div class="service-card">
            <div class="service-image">
              <img src="./assets/imgs/service2.jpg" alt="" />
            </div>
            <div class="service-text">
              <h3>Consulting</h3>
              <p>
                Houloul se concentre sur l'amélioration de la performance organisationnelle de votre entreprise en analysant les problèmes et les défis existants pour vous élaborer des stratégies en management et marketing, vous offrir des recommandations et des plans de développement.
              </p>
            </div>
          </div>

          <div class="service-card">
            <div class="service-image">
              <img src="./assets/imgs/service1.jpg" alt="" />
            </div>
            <div class="service-text">
              <h3>Management de transition</h3>
              <p>
                Vous cherchez un consultant exécutant ? Un manager opérationnel, à court terme, pour le lancement de votre nouveau projet ou la gestion d’une crise ? Ou simplement un manager réactif replaçant jusqu'au nouveau recrutement ? 
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="top-blogs" id="blogs">
        <h2><span>Notre </span>Blogs</h2>
        <div class="blogs-container">
          <div class="blog blog1" onclick="location.href='https://www.google.com/';">
            <div class="blog-text">
              <h3>Qu'est ce qu'un CRM?</h3>
              <p>
                Le Client Relationship Management (CRM) fait référence aux principes, pratiques et directifs qu'une organisation suit lorsqu'elle interagit avec ses clients. Du point de vue de l'organisation, toute cette relation englobe des interactions directes avec les clients, telles que les processus de vente et de service, les prévisions et l'analyse des tendances et des comportements des clients. En fin de compte, le CRM sert à améliorer l'expérience globale du client.
              </p>
            </div>
            <div class="blog-img">
              <img src="./assets/imgs/blog1.jpg" alt="" />
            </div>
          </div>

          <div class="blog blog2">
<div class="blog-text">
            <h3>Effet PoP CoRn .... !</h3>
            <p>
              De nombreuses organisations lancent un certain nombre d'initiatives numériques non coordonnées entre les unités commerciales pour répondre aux demandes commerciales et aux attentes des clients. Certains projets avancent trop lentement tandis que d'autres avancent sans prendre en compte les risques ou les interdépendances
            </p>
          </div>
          </div>
          <div class="blog blog3">
            <div class="blog-text">
            <h3>What is the first rule to sales?</h3>
            <p>
              If there are no sales, there will be no business. Sales are the gasoline of any business as it just flourish the cash flow of the company. There are many sales techniques and rules that you can learn them online. However, there is one rule, which you hardly find or hear from the sales specialists. 
            </p>
          </div>
          </div>
        </div>
        </div>
      </section>
      <section class="contact" id="contact">
        <div class="white-contact">
          <div class="left">
            <h2><span>Contactez nous</span></h2>
            <form action="" class="contact-form">
              <label for="name">Nom</label>
            <input type="text" class="name-email name form-input" name="name" id="name">

            <label for="email">Email</label>
            <input type="email" class="name-email email form-input " name="email" id="email">

            <label for="message">Message</label>
            <textarea name="message"  class="message  form-input"id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Contact" class="submit">
            </form>
          </div>
        <div class="right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec, dui scelerisque risus tincidunt fusce nullam ut sagittis, nulla. </p>
          <div class="about">
            <div class="about-container">
            <span class="iconify" data-icon="ci:location"></span>
            <p>Sousse, Tunisia</p>
          </div>
            <div class="about-container">

            <span class="iconify" data-icon="bx:bxs-phone"></span>
            <p>+216 20 252 532</p>
          </div>

            <div class="about-container">

            <span class="iconify" data-icon="ic:baseline-email"></span>
            <p>contact@houloul.tn</p>
          </div>

           
        </div>
        <div class="social-icons">
          <span class="iconify iconify-social" data-icon="entypo-social:linkedin-with-circle"></span>
          <span class="iconify iconify-social" data-icon="akar-icons:facebook-fill"></span>
          <span class="iconify iconify-social" data-icon="ant-design:instagram-filled"></span>
        </div>
      </div>
      </section>
     

